# .NET
backend/bin/
backend/obj/
backend/**/*.user
backend/.vs/
backend/**/*.suo

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
.env
*.env.local

# Docker
docker-compose.override.yml

# IDE
.idea/
.vscode/settings.json
*.swp
